# Ignore all files
**

# Add back .gitignore
!.gitignore

# Ensure directories themselves are not ignored, so that .gitkeep and Info.plist can be tracked
!*/

# Add back .gitkeep files
!**/*.gitkeep

# Add back root files, which contains useful things like the gdextension file.
!/*
# Add back wanted files
!**/Info.plist
