[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.0
[submodule "extern/librdkafka"]
	path = extern/librdkafka
	url = https://github.com/confluentinc/librdkafka.git
