# Godot 4+ specific ignores
.godot/

# Ignore built binaries
/demo/bin/**/*
!/demo/bin/**/
!/demo/bin/**/*.gitkeep
!/demo/bin/**/*.plist
/bin/**/*
!/bin/**/
!/bin/**/*.gitkeep
!/bin/**/*.plist
!demo/bin/*.gdextension
.sconsign*.dblite

# Ignore custom.py
custom.py

# Ignore generated compile_commands.json
compile_commands.json

# Ignore files generated for documentation
/src/gen

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Other stuff
*.log

# VSCode
.vscode/*
!.vscode/extensions.json
.DS_Store
