[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "godot-object-compiler"]
	path = godot-object-compiler
	url = https://github.com/LucaTuerk/godot-object-compiler.git
