# Godot 4+ specific ignores
.godot/

# Ignore library files but not the gdextension file
addons/gdkafka/bin/*
!addons/gdkafka/bin/android
addons/gdkafka/bin/android/*
!addons/gdkafka/bin/android/.gitkeep
!addons/gdkafka/bin/linux
addons/gdkafka/bin/linux/*
!addons/gdkafka/bin/linux/.gitkeep
!addons/gdkafka/bin/macos
addons/gdkafka/bin/macos/*
!addons/gdkafka/bin/macos/.gitkeep
!addons/gdkafka/bin/windows
addons/gdkafka/bin/windows/*
!addons/gdkafka/bin/windows/.gitkeep
!addons/gdkafka/bin/*.gdextension

# Ignore custom.py
custom.py

# Ignore generated compile_commands.json
compile_commands.json

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Other stuff
*.log

# VSCode
.vscode/*
!.vscode/extensions.json
.DS_Store